<div id="MainAD">
    <div class="TitreAD">
        <!--Encore une fois affichage dynamique du compte sélectionné-->
        <h2>Compte</h2>
    </div>

    <div class="DetailAD">
        <app-update-account-epargne></app-update-account-epargne>
        <!--Il va falloir implementer un if ici pour choisir la bonne barre-->
        <!-- If compte nature = courant-->
        <!-- Then display UpdateAccount-->
        <!-- Else display UpdateAccountEpargne -->
    </div>
    <div class="BoutonAD">
        <ul>
           <li><app-credit-account></app-credit-account></li>
           <li><app-debit-account></app-debit-account></li>
           <li><app-modify-account></app-modify-account></li>
           <li><app-transfer-account></app-transfer-account></li>
            
        </ul>
        <div class="AloneBAD">
        <app-delete-account></app-delete-account>
        </div>
    </div>
</div>