<div id="MainAD">
    <div class="TitreAD">
        <!--Encore une fois affichage dynamique du compte sélectionné-->
        <h2>Compte Courant n°2022</h2>
    </div>

    <div class="DetailAD">
        <!--Il va falloir implementer un if ici pour choisir la bonne barre-->
        <!-- If compte nature = courant-->
        <!-- Then display UpdateAccount-->
        <!-- Else display UpdateAccountEpargne -->
    </div>
    <div class="BoutonAD">
        <ul>
            <!--Mettre les 5 boutons! tant pis pour le design-->
        </ul>
    </div>
</div>