#MainA{
    background-color:rgba(56, 141, 136, 1);
    font-family: Inter;
    font-size: 18px;
    width:50%;
    display: block;
    margin: auto;
}
h1{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 75px;
    color:aliceblue;
}
h2{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 75px;
    color:aliceblue;
}
form{
    display: block;
    margin: auto;
    margin-top: 75px;
    padding: 25px;
    font-size: 20pt;

}

input{
    display: block;
    border: 2px solid black;
    width:85%;
    height: 40px;

}
.Valider{
    background-color: rgba(25, 68, 132, 1);    
    font-family: Inter;
    font-size: 28px;
    width: 225px;
    height: 75px;
    display: block;
    margin:auto;
    text-align: center;
    margin-top: 250px;
}
p{
    text-align: center;
    display: block;
    margin:auto;
    padding: 20px;
    color: aliceblue;

}
.Valider:hover{
    background-color:rgba(51, 117, 216, 1);
    border:3px solid #194484;
}